@model ExamenAbelardoCastro.Models.Categoria

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">Categoria</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>
            </dl>
        </div>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.categoriaId }, new { @class = "btn btn-warning" }) |

    </p>

    <div class="text-center mt-3">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>
